.menu {
  position: fixed;
  background: var(--blue1);
  height: calc(100vh - 11.6rem);
  width: 100%;
  transition: all ease 0.7s;
  display: flex;
  justify-content: center;
  z-index: -1;
}

.menu__elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu__elements li {
  margin-bottom: 4rem;
  font-size: 3rem;
  font-weight: 700;
}
.hide {
  top: -100%;
}
.show {
  top: 11.6rem;
}
.menu a {
  text-decoration: none;
  color: var(--blue3);
}

@media (min-width: 900px) {
  .menu__elements li a:hover {
    text-decoration: line-through;
    color: var(--white);
  }
  .hide {
    top: 0;
    justify-content: end;
  }
  .menu {
    height: 11.6rem;
  }
  .menu__elements {
    flex-direction: row;
    margin-right: 10rem;
  }
  .menu__elements li {
    font-size: 2.5rem;
    margin: 1rem;
  }
}
