.button{
    font-size: 2.4rem;
    font-weight: 700;
    width: 19.1rem;
    height: 6.3rem;
    border-radius: 2rem;
    border: none;
    color:#001F3B;
    background-color: #ABC6D8;
    box-shadow: 0.5rem 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.89);
}