.header {
  background: url(../../../img/fondo.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  background-attachment: fixed;
  
}

.header__filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.header img {
  margin-top: 15rem;
  height: 26.2rem;
}

.header p {
  font-size: 2.8rem;
  font-weight: 700;
  color: white;
  text-align: center;
  width: 33rem;
}
.header span {
  color: #0295f8;
}

.header svg {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 5;
}
.seeButton{
  font-size: 2.4rem;
  font-weight: 700;
  border-radius: 2rem;
  border: none;
  color: var(--blue2);
  z-index: 2;
  height: 6.3rem;
  padding-left:2rem;
  padding-right:2rem;
  background-color: var(--blue3);
  box-shadow: 0.5rem 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.89);
}
@media (min-width: 900px){
  .header {
    background: url(../../../img/fondoEscritorio.jpg);
    
  }
}