.products{
    background: var(--blue2);
    margin: 0;
    padding-top: 2rem;
    height: auto;
    display:flex ;
    flex-direction: column;
    position: relative;
    z-index: 5;
}
.products h1{
    color:var(--white);
    text-align: center;
    padding-bottom: 0;
    font-size: 2.4rem;
}
.products__title{
display: flex;
align-items: center;
justify-content:space-evenly;

}
.products__titleLine{
    width: 25%;
    height: 0.4em;
    border-radius: 3rem;
    background: var(--white);
}
.cards{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1300px;
    align-self: center;
}
.products p{
    color: var(--white);
    font-size: 1.7rem;
    text-align: center;
    width: 18rem;
    align-self: center;
}
.products span:nth-child(1){
    font-style: italic;
    font-weight: 700;
}