.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
}

.search input:focus {
  outline: none;
}

.search input {
  margin-right: 2rem;
  border-radius: 1rem;
  border: none;
  height: 3rem;
  width: 20rem;
  font-size: 1.9rem;
  text-align: center;
  box-shadow: 0.5rem 0.5rem 1rem 0.3rem rgba(0, 9, 19, 0.952);
}

.search button {
    height: 4rem;
    width: 5rem;
    font-size: 2.5em;
    color: var(--blue2);
    background-color: var(--blue3);
    border: none;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 1rem 0.3rem rgba(0, 9, 19, 0.952);
}

.filters{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.filters__tag {
  font-size: 2.4rem;
  font-weight: 700;
  border-radius: 2rem;
  border: none;
  width: 16rem;
  height: 6rem;
  margin: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem 0.3rem rgba(0, 9, 19, 0.952);
  transition: all ease 0.4s;
}
.filters__unActive{
  color: var(--white);
  background-color: var(--blue0);
}
.filters__active{
  color: var(--blue0);
  background-color: var(--white);
}
