.cart{
    background-color: var(--blue2);
    height: auto;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;
    position: relative;
    z-index: 5;
}

.cart h1{
    color: var(--white);
    text-align: center;
    margin: 0;
    font-size: 2.4rem;
}

.cart h2{
    color: var(--white);
    font-size: 2.4rem;
    text-align: center;
}
.cart h3{
    color: var(--white);
    margin: 0;
    font-size: 2.4rem;
    text-align: center;
}
.cart__title{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.cart__titleLine{
    width: 25%;
    height: 0.4em;
    border-radius: 3rem;
    background: var(--white);
}
.cart__cards{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1300px;
    align-self: center;
}

.cart__infoDom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart__infoDom input{
    border: none;
    border-radius: 1rem;
    text-align: center;
    font-size: 1.9rem;
    box-shadow: 0.5rem 0.5rem 1rem 0.3rem rgba(0, 9, 19, 0.952);
    width: 30rem;
    height: 4rem;
}
.cart__infoDom input:focus {
    outline: none;
  }

.cart__infoDomButtons{
display: flex;

margin-top: 5rem;
}

.cart__infoDomButtons button{
    font-size: 2.4rem;
  font-weight: 700;
  border-radius: 2rem;
  border: none;
  color: var(--blue2);
  z-index: 2;
  height: 6.3rem;
  padding-left:2rem;
  padding-right:2rem;
  background-color: var(--blue3);
  box-shadow: 0.5rem 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.89);}
.separate{
    margin: 0.5rem;
}
