


.btnCart{
    border: 5px solid var(--blue0);
    border-radius: 1.5rem;
    background: var(--blue3);
    width: 8rem;
    height: 8rem;
    font-size: 4rem;
    text-align: center;
    color:var(--blue1);
    padding-right: 1rem;
    position: fixed;
    top: 630px;
    right: 2vw;
    z-index: 4;
    box-shadow: 1rem 1rem 2rem 0.2rem rgba(0, 0, 0, 0.89);
    transition: all ease-in 0.3s;
}
.btnCart > span{
    padding-right: 0.2rem;
    position: absolute;
    background: var(--white);
    border: 3px solid var(--blue3);
    color:var(--blue1);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    font-size: 2.5rem;
    font-weight: 700;
    font-style: normal;
    top:-1.9rem;
    left: -1.2rem;
}

@media (min-width:900px){
    .btnCart:hover{
        cursor: pointer;
        background: var(--blue1);
        color: var(--blue3);
        border: 5px solid var(--blue3);
    }
}